{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "plugins": ["react", "import", "jsx-a11y"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "commonjs": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "linebreak-style": 0,
    "react/button-has-type": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "global-require": 0
  }
}