html {
  font-size: 62.5%;
}

body {
  font-family: Montserrat, sans-serif;
  min-width: 320px;
  font-size: 1.8rem;
  letter-spacing: .15rem;
  line-height: 1.5;
  color: $white;
  font-weight: 400;
  background: $black;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}