$xxs-max: 320px !default;
$xs-max: 360px !default; // Set xs breakpoint's max width
$sm-max: 620px !default; // Set sm breakpoint's max width
$md-max: 780px !default; // Set md breakpoint's max width
$lg-max: 1020px !default; // Set lg breakpoint's max width

$xs-start: ($xxs-max + 1);
$sm-start: ($xs-max + 1); // Generate sm breakpoint's min width
$md-start: ($sm-max + 1); // Generate md breakpoint's min width
$lg-start: ($md-max + 1); // Generate lg breakpoint's min width
$xl-start: ($lg-max + 1); // Generate xl breakpoint's min width

$breakpoint-prefixes: ("xxs", "xs", "sm", "md", "lg", "xl");

$media-breakpoints: (
  xxs: (min-width: #{$xxs-max}), // xs -> 
  xs: (min-width: #{$xs-max}), // xs -> 
  sm: (min-width: #{$sm-start}), // sm-start -> up range
  md: (min-width: #{$md-start}), // md-start -> up range
  lg: (min-width: #{$lg-start}), // lg-start -> up range
  xl: (min-width: #{$xl-start}), // xl-start -> up range
) !default;

$primary: #f65261;
$black: #232323;
$dark-gray: #424242;
$light-gray: #555555;
$white: #ffffff;
$green: #27AE60;

$transition-duration: .2s;
